<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>PapyBot</title>
    <link href="../static/style.css" rel="stylesheet">


</head>
<body>
<div id="site">
    <header>
        <h1>Bienvenue sur le chat de PapyBot</h1>
        <div class="btn-dark-mode">Dark Mode</div>
    </header>
    <aside>
        <div class="nameAside"><img src="../static/images/big_hot_grandpa_29.png" alt="class_papy_picture" width="100px"
                                    height="100px"><h2>PapyBot
        </h2></div>
        <div class="textAside"><span class="attributAside">Prénom:</span>  Gérard</div>
        <div class="textAside"><span class="attributAside">Nom:</span>  Menvussa</div>
        <div class="textAside"><span class="attributAside">Âge:</span>  134 ans</div>
        <div class="textAside"><span class="attributAside">Passions:</span>  Histoire, les voyages et le Rock</div>
        <div class="textAside"><span class="attributAside">Description:</span>  Après avoir lu Histoire Géo pour les
            Nuls
            2 fois, PapyBot est devenu un génie il sait désormais tout sur tout et est capable de répondre à n'importe
            quelle question. Essayez par vous-même.</div>

    </aside>
    <section class="messageArea">
        <div class="blocPapy">
            <div
                    class="imageBlocPapy"><img src="../static/images/big_hot_grandpa_2.png" alt="talk_papy_picture" width="50px"
                                               height="50px"></div>
            <div class="messagePapy">Salut gamin(e)&#128102;&#127996; &#128103;&#127996;! Je suis ravi de te voir ici. Si tu viens me
                voir c'est que tu es
                perdu(e). Je pense pouvoir t'aider, du haut de mes 134 années d'expériences &#128116;&#127996; et mon cerveau
                branché à
                Google Maps et Wikipedia je sais tout sur tout. Tu vois la zone de texte en bas? Là dedans tu peux taper
                un lieu  ou une adresse et je t'indiquerai l'endroit précis sur une carte et je pourrai même te
                raconter une petite anecdote sur ce lieu.
            </div>
        </div>

    </section>
    <section class="inputArea">
        <form>
            <input type="text" name='textUser' placeholder="Je veux aller à, où se trouve, où se situe ..." autofocus>
            <div class="button"><button type="submit"><img src="../static/images/icons8-envoi-de-courriel-60.png" width="38px"
                                                           height="38px"></button></div>
        </form>
    </section>
    <footer>
        <div class="socialNetwork">
            <a href="https://github.com/GuillaumeStaub/PapyBot" ><img
                    src="https://img.icons8.com/ios-filled/40/000000/github.png" alt="github_button"/></a>
            <a href="#" ><img src="https://img.icons8.com/color/40/000000/linkedin.png" alt="linkedin_button"/></a>
        </div>
        <div class="copyright"></div>
    </footer>
</div>

</body>
<script src="../static/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script>
</html>